<form [formGroup]="configForm" [class.was-validated]="canValidate">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="title">{{'config.title' | translate}}</label>
            <input type="text" class="form-control" formControlName="title" id="title" required>
            <div class="invalid-feedback">
                {{'errors.validTitle' | translate}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom05">{{'config.location' | translate}}</label>
            <input type="text" class="form-control" id="location" formControlName="location" required>
            <div class="invalid-feedback">
                {{'errors.validLocation' | translate}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom05">{{'config.date' | translate}}</label>
            <input type="text" class="form-control" id="date" formControlName="date" required>
            <div class="invalid-feedback">
                {{'errors.validDate' | translate}}
            </div>
        </div>
    </div>
    <div class="form-row">

        <div class="col-md-3 mb-3">
            <label for="ticketsX">{{'config.ticketsX' | translate}}</label>
            <input type="number" class="form-control" id="ticketsX" min="1" max="10" formControlName="ticketsX"
                required>
            <div class="invalid-feedback">
                {{'errors.numberBetween1and10' | translate}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="ticketsY">{{'config.ticketsY' | translate}}</label>
            <input type="number" class="form-control" id="ticketsY" min="1" max="20" formControlName="ticketsY"
                required>
            <div class="invalid-feedback">
                {{'errors.numberBetween1and10' | translate}}
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <label for="ticketSpacing">{{'config.ticketSpacing' | translate}}</label>
            <input type="number" class="form-control" id="ticketSpacing" min="0" max="50"
                formControlName="ticketSpacing" required>
            <div class="invalid-feedback">
                {{'errors.numberBetween0and50' | translate}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="borderWidth">{{'config.borderWidth' | translate}}</label>
            <input type="number" class="form-control" id="borderWidth" min="0" max="50"
                formControlName="borderWidth" required>
            <div class="invalid-feedback">
                {{'errors.numberBetween0and50' | translate}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="codeType">{{'config.codeType' | translate}}</label>
            <select class="custom-select" id="codeType" formControlName="codeType" required>
                <option value="qr">{{'general.qrCode' | translate}}</option>
                <option value="bar">{{'general.barcode' | translate}}</option>
            </select>
            <div class="invalid-feedback">
                {{'errors.validCodeType' | translate}}
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <label for="idType">{{'config.idType' | translate}}</label>
            <select class="custom-select" id="idType" formControlName="idType" required>
                <option value="guid">{{'general.guid' | translate}}</option>
                <option value="numbers">{{'general.numbers' | translate}}</option>
                <option value="letters">{{'general.letters' | translate}}</option>
            </select>
            <div class="invalid-feedback">
                {{'errors.validIdType' | translate}}
            </div>
        </div>
    </div>
    <button class="btn btn-outline-success" (click)="save()">{{'general.save' | translate}}</button>
</form>

<div class="card mt-5" *ngIf="updates && updates.updatesAvalible">
    <div class="card-header">{{'general.updates' | translate}}</div>
    <div class="card-body">
        <div class="alert alert-warning">
            {{updates.updateCount}} {{"general.updatesAvalible" | translate}}<br>
            <button class="btn btn-link pl-0 d-block"
                (click)="viewUpdateDetails = !viewUpdateDetails">{{(viewUpdateDetails ? "general.hideDetails" : "general.showDetails") | translate}}</button>
            <div *ngIf="viewUpdateDetails" class="my-2">
                <span *ngFor="let t of updates.updates" class="d-block">{{t}}</span>
            </div>
            <button class="btn btn-outline-primary my-2"
                (click)="update()">{{"general.update" | translate}}{{updating ? "..." : ""}}</button>
        </div>
    </div>
</div>