.colorpicker-modal {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 50;
    background-color: rgba(0,0,0,0.5);
    color-photoshop {
        margin: auto;
        &::ng-deep {
            .photoshop-head, .photoshop-body {
                background-color: #e9e9e9;
                box-shadow: none;
                background-image: none;
            }
            .photoshop-body {
                padding-bottom: 10px;
            }
            input {
                border: 1px solid black;
                box-shadow: 0;
            }
            .photoshop-button {
                background-image: none;
                background-color: #fff;
            }
        }
    }
}

.autohidetrigger .autohide {
    display: none;
}
.autohidetrigger:hover .autohide {
    display: inline;
}
.list-group-item.active {
    border-left: 5px solid #337ab7;
    border-right: 5px solid #337ab7;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #fff;
    color: black;
}

angular-file-uploader::ng-deep {
    .container {
        label {
            margin-bottom: 0;
        }
    }
    .resetBtn {
        background-color: #fff;
        border-color: #d9534f;
        color: #d9534f;
        &:hover, &:active {
            color: #fff !important;
            background-color: #d9534f !important;
        }
        &:active {
            box-shadow: 0 0 0 0.2rem rgba(223, 109, 105, 0.5) !important;
        }

    }
    .afu-select-btn:not(:hover) {
        background-color: #fff;
        color: #2b669a;
    }
    .afu-upload-btn:not(:hover) {
        background-color: #fff;
        color: #5cb85c;
    }
    br {
        display: none;
    }
}