<div class="alert alert-warning" *ngIf="!tickets || tickets.length == 0">
    {{'errors.noTicketsFound' | translate}}<br>
    <a routerLink="/createTickets">{{'general.createTickets' | translate}}</a>
</div>
<div class="mb-2 d-flex justify-content-between">
    <div>
        <button class="btn btn-outline-primary" (click)="toolbarClick('print')">{{'general.printTable' | translate}}</button>
        <div ngbDropdown class="d-inline-block mr-2">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{'general.export' | translate}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="toolbarClick('pdf')">PDF</button>
                <button ngbDropdownItem (click)="toolbarClick('excel')">Excel</button>
                <button ngbDropdownItem (click)="toolbarClick('csv')">CSV</button>
            </div>
        </div>
        <button class="btn btn-outline-success mr-2" (click)="toolbarClick('printTickets')">{{(rowsSelected ? 'general.printSelectedTickets' : 'general.printAllTickets') | translate}} ({{rowsSelected ? rowsSelected : tickets.length}}) <i *ngIf="printing" class="fa fa-spinner fa-spin"></i></button>
        <button class="btn btn-outline-danger" (click)="toolbarClick('deleteTickets')" *ngIf="rowsSelected">{{'general.deleteSelectedTickets' | translate}} ({{rowsSelected}}) <i *ngIf="deleting" class="fa fa-spinner fa-spin"></i></button>
    </div>
    <form class="form-inline">
        <input class="form-control" type="search" [placeholder]="'general.search' | translate" (input)="toolbarClick('search', $event)">
    </form>
</div>
<ejs-grid #grid [dataSource]="tickets" [editSettings]="editSettings" [allowPaging]="true" [allowResizing]="true" [pageSettings]="pageSettings"
    [allowSorting]="true" [allowPdfExport]="true" [allowExcelExport]="true" [selectionSettings]="selectionOptions">
    <e-columns>
        <e-column type="checkbox" width="50"></e-column>
        <e-column [allowEditing]= "false" field="guid" headerText="Order ID" textAlign="Right" width=120></e-column>
        <e-column field="name" headerText="Customer ID" width=150></e-column>
        <e-column field="createdAt" headerText="Ship City" width=150></e-column>
        <e-column field="updatedAt" headerText="Ship Name" width=150></e-column>
    </e-columns>
</ejs-grid>